<html>
<head>
   <parm>
      <allowOrder>N</allowOrder>
      <daysToEnter>14</daysToEnter>
   </parm>
</head>
<body submitlabel='Save' cancellabel='Exit'>
<style>
   .draftdiv{
      background-color:silver;
   }
</style>
<br />
<table>
   <tr>
      <td>Client ID: <literal value='client' /></td>
      <td>Client Name: <literal value='client' edittype='DB' editnum='2' /></td>
      <td>DOB: <literal editnum='C.BD' edittype='DST' value='client' /></td>
   </tr>
</table>
<hr />
<br />
<h1><literal value='title' /></h1>
<br />
<div class='error'>
   <literal value='l_err' />
</div>
<div class='center'>
      <$library uhp='u-note-lib' idx='1' name='uhp_recordAdd' 
         regid='@client' id='labs' 
         disponly='N' save='Y' readold='N' 
         forcerender='Y' writeonfinal="N"
         dstname-1='c.lo.date' dstlabel-1='Order Date' dstdef-1='$today' ui-1="$input type='text' edit='CAL' max-chars='10' width='10'"
         dstname-2='c.lo.staff' dstlabel-2='Order Staff' dstdef-2='$operstaffid' ui-2="$input type='text' edit='DB``03' max-chars='6' width='6'" dstedit-2='Y' dstedittype-2='DB' dsteditnum-2='3'
         dstname-3='c.lo.code' dstlabel-3='Order' ui-3="$select dct='9550' addblank='Y' addother='y'" dstedittype-3='dct' dsteditnum-3='9330' trigger_val='EKG' trigger='EKGrequest,ekg-request.html,,regid'
         dstname-4='c.lo.desc' dstlabel-4='Details' ui-4="$input type='text'"
         varname='objinfo' varptr='1' varptr2='100' 
         addlabel='Add Order' 
         printForm='/c0/test/rpt-md-labs.html' 
         printLabel='Print Orders' 
         btn='b_lib'/>
</div>

<div>
   <literal value='l_labRec' />
</div>
<link rel='stylesheet' href='/cmhcbui/cmhcbuilocal/css/uhp.css'></link>
<script src='http://code.jquery.com/jquery-1.7.1.min.js'></script>
</body>
</html>

