<html>
<head>
   <parm>
      <allowOrder>Y</allowOrder>
      <daysToEnter>14</daysToEnter>
   </parm>
</head>
<body submitlabel='Save' cancellabel='Exit'>
<style>
   .draftdiv{
      background-color:silver;
   }
</style>
<br />
<table>
   <tr>
      <td>Client ID: <literal value='client' /></td>
      <td>Client Name: <literal value='client' edittype='DB' editnum='2' /></td>
      <td>DOB: <literal editnum='C.BD' edittype='DST' value='client' /></td>
   </tr>
</table>
<hr />
<br />
<h1><literal value='title' /></h1>
<br />
<div class='error'>
   <literal value='l_err' />
</div>
<div>
   <literal value='l_labRec' />
</div>
<link rel='stylesheet' href='/cmhcbui/cmhcbuilocal/css/uhp.css'></link>
<script src='http://code.jquery.com/jquery-1.7.1.min.js'></script>
</body>
</html>

